.header-activities img{
	/*height: 13px;*/
	margin-left: 10px;
}

.logo-img {
	width: 100px;
  margin-right: 59px;
  margin-top: 10px;
}

.header-activities span {
	font-size: 12px;
	color: #666666;
	top: 2px;
  position: relative;
  display: inline-block;
}

.header-activities span.username {
	color: #333333;
	font-size: 12px;
}

.header-activities img.profile {
	border-radius: 50%;
  height: 40px;
  width: 40px;
}

.admin-logo {
	width: 120px;
	padding-top: 15px;
}
