<div ng-include="'views/header.html'"></div>

<div class="jumbotron">
  <h1>Welcome to Chroma</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>

  </p>
  <p class='visible-lg visible-md visible-sm visible-xs'><a class="btn btn-lg btn-success" ng-href="#/login">Get Started<span class="glyphicon glyphicon-ok"></span></a></p>
  <!-- <p class='hidden-lg hidden-md visible-sm visible-xs'><a class="btn btn-lg btn-success" ng-href="#/signup">Get Started<span class="glyphicon glyphicon-ok"></span></a></p> -->
</div>
