<div ng-include="'views/header.html'"></div>

<div class='onboarding' style='height: 100vh;'>

	<div class='container'>
		<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
			<h1 class='welcome text-align-center'>
				Welcome to <span> Chroma </span>
			</h1>

			
		</div>

		<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>


			<p>
				Show colleges that you are more than just your grades
			</p>

			<p>
				Complete key information on your visual resume so Chroma may work for you and colleges start engaging with you
			</p>

			<div class='text-align-center'>
				<div><button class='primary-color' ng-click='setUpProfile();'> Now </button></div>
				<div><button class='primary-color' ng-click='gotoHome();'> Later </button></div>
			</div>

			<p>

				<b>Note:</b> This information needs to be complete in 60 days for Chroma to work as intended

			</p>

		</div>
	</div>

</div>